{% extends "linear_regression/index.html" %}
{% load static %}

{% block explanation %}
<!-- Reset Form -->

<div
class="p-5 text-center bg-image"
style="height: 12vh;">

<div class="mask" style="background-color: rgba(14, 5, 5, 0.6);">
  <div class="d-flex justify-content-center align-items-center">
	<div class="text-white">
	  <h1 class="mb-0">Graph Neural Network</h1>
	  </div>
	</div>
  </div>
</div>
</div>

{% if form %}
<span class="img-container"> <!-- Inline parent element -->
	<img src="https://commotionwireless.net/files/CCK_Networking_Basics_intro_graphic.png"
	alt="" width="200vw" height="200vh" > <!--style="top: 100px; left: 10px;"-->
  </span>

<div class="container text-center" style="padding-top: 1vh;">

	<div class="desc_p">

	<p>
		Upload a single csv file. For a graph with <b>n</b> nodes, <b>m</b> edges and <b>d</b> dimensional feature vector,
		your input should have n+m+1 lines.

		<ul>
			<li> First m lines should contain the edges. Each line has format (node1_id, node2_id) </li>
			<li> m+1-th line should contain a single "#" (#) </li>
			<li> last n lines should contain the node_id, followed by the features and the label (node_id, feat1, feat2, ... , featd, label)</li>
			<li> Provide each edge only once, provide either {node1, node2} or {node2, node1} </li>
			<li> Labels and node_id should be integers.</li>
		</ul>

		An example with 3 nodes with 5 dimensional feature vectors, 3 edges and 2 possible labels. Your input should look something like:
		<br>
		0 1
		<br>
		0 2
		<br>
		1 2
		<br>
		#
		<br>
		0 1.4 2.3 4.3 0.9 2.8 0
		<br>
		1 2.0 1.5 3.1 1.1 3.3 0
		<br>
		2 1.9 2.4 3.5 0.7 2.7 1
		<br>

		<a href="https://drive.google.com/uc?id=1hNkBwLZf0ZE6Nc4BYzXNX_JM48AYtWcL&export=download">
			Click Here to Download Processed Example (Cora citation dataset)
		</a>
		
	</p>
	</div>
</div>

{% endif %}

<div class="container text-center" style="padding-top: 20px;">

		{% if form %}

		{% csrf_token %}
		<form method="post" enctype="multipart/form-data" id="form">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" id="upload_button" class="btn btn-primary btn-lg">
				Upload
			</button>
		  </form>
		
		{% endif %}

		<style>
			.save-btn{
				font-size:22px;
				color:#fff;
				background:rgb(29, 20, 20);
				width:auto;
				height: auto;
				cursor: pointer;
				border-radius: 3px;
			}

			.loader{
				pointer-events: none;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color:bisque;
				animation: an1 1s ease infinite;
			}

			@keyframes an1{
				0% {
					transform: rotate(0turn);
				}
				100% {
					transform: rotate(1turn);
				}
			}

		</style>

		<br>
		<button class="save-btn" id="save_button" style="display:none;"></button>
		<br>
		<p id="loading_text" style="display:none;"> Loading.. May take a few minutes.. </p>

		<script>
			save_btn = document.getElementById("save_button");
			upload_btn = document.getElementById("upload_button");
			loading_text = document.getElementById("loading_text");
			form = document.getElementById("form");

			upload_btn.onclick = function(){
				save_btn.style.display = "inline";
				loading_text.style.display = "inline";
				save_btn.innerHTML = "<div class='loader'></div>"
				form.style.display = "none";
			}

		</script>

		{% if result_ready %}
		<button type="button" class="btn btn-primary btn-lg">
			<a href="{% url 'linear_regression:result' %}" style="color:#fff;"> Get Results </a>
		</button>
		{% endif %}

</div>
{% endblock %}




