{% extends "linear_regression/download.html" %}
{% load static %}


{% block progress %}
<div class="text-center" style="font-size: 14px; background-color: rgb(52, 41, 63); font-size: 16px;  color: #fdfdfb;">
	<div id="progress-bar-message">
	Press 'Choose File', select your file and press the 'Upload' button.
	</div>
</div>
<div class='progress-wrapper' style="padding-top: 10px;">
  <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
</div>
<div id="celery-result">
</div>
{% endblock progress %}

{% block progress_bar_js %}

{% if task_id %}
<script type="text/javascript">
	// Progress Bar (JQuery)
	$(function () {
		var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
		class my_bar extends CeleryProgressBar{
			onSuccessDefault(){window.location = "{% url 'linear_regression:result' %}"};
		};
		
		my_bar.initProgressBar(progressUrl, {});
	});
</script>
{% endif %}

{% endblock progress_bar_js %}